.projects-wrapper {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.top-bar-projects {
  background-color: rgba(60, 55, 52, 255);
  width: 80vw;
  max-width: 1200px;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: start;
}

.bottom-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar-left {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 10px;
}

.bottom-bar-right {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 10px;
}

.project-icon-container {
  display: flex;
  padding: 5px 8px;
  background-color: rgba(105, 104, 107, 255);
  border-radius: 3px;
}

.home-btn {
  background-color: rgba(6, 126, 225, 255);
  border-radius: 3px;
  padding: 3px 6px;
  margin-right: 10px;
  font-size: 13px;
}

.projects {
  background-color: rgba(30, 30, 30, 255);
  width: 80vw;
  max-width: 1200px;
  height: 70vh;
  line-height: 1.5;
  letter-spacing: 0.5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 175px 1fr;
  overflow: auto;
}

.left-panel-container {
  background-color: rgba(60, 55, 52, 255);
  padding-top: 0.25rem;
  height: 70vh;
  width: 175px;
  border-bottom-left-radius: 10px;
  position: fixed;
}

.panel-section {
  padding: 8px 0;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
}

.panel-section:hover {
  cursor: pointer;
  background-color: rgba(7, 109, 192, 255);
}

.active {
  background-color: rgba(7, 109, 192, 255);
}

.folder-icon {
  margin: 0 10px;
}

@media screen and (max-width: 700px) {
  .top-bar-projects {
    display: none;
  }
  .projects {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .left-panel-container {
    position: static;
    width: 100vw;
    height: 10vh;
    display: flex;
    border-radius: 0;
    overflow: scroll;
  }

  .folder-icon {
    position: absolute;
    opacity: 0;
  }

  .panel-section {
    padding: 0 0.5rem;
  }

  .panel-section:not(:last-child) {
    border-right: 1px solid hsla(0, 0%, 100%, 0.25);
  }

  .project-img {
    object-fit: contain;
  }

  .project-three-scroll {
    max-height: 300px;
  }
}
