#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-container {
  min-height: 100vh;
  background-color: transparent;
  background-image: url('./assets/Images/desktop-bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(60, 55, 52, 255);
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #747474;
  border-radius: 5px;
}

.circle-btn:hover {
  cursor: pointer;
}

header {
  position: relative;
  z-index: 1;
}
